<h3>Hipsrozorium waiting for your new post!</h3>

<h4>Latest posts:</h4>
<br />
<% @results.each do |post| %>
	<p>
		<%= post['content'] %>
		<br />
		<sub><b>Added</b> at <%= post['created_date'] %></sub>
		<a href="/details/<%= post['id'] %>"><sub>Comments</sub></a>
	</p>
	<hr />
<% end %>