<h3>Hipsrozorium waiting for your new post!</h3>

<h4>Latest posts:</h4>
<br />
<% @results.each do |post| %>
	<p>
		<%= post['content'] %>
		<br />
		Added at <%= post['created_date'] %>
	</p>
	<hr />
<% end %>